@keyframes appear {
	from {
		transform: translateY(150%);
	}
	to {
		transform: translateY(0);
	}
}
@keyframes portal {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}
@keyframes img {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.container {
	display: flex;
	position: relative;
	top: 5em;
	backdrop-filter: blur(5px);
	border-radius: 256px 32px 32px 256px;
	margin: 0 15%;
	width: 70%;
	height: 28rem;
	animation: appear 1s ease-out forwards;
	background-color: rgba(38, 38, 38, 0.5);
	justify-content: space-between;
}

.overlayImg {
	position: relative;
	top: 6.5rem;
	left: 5.5rem;
	z-index: 1;
	width: 15rem;
	height: 15rem;
	border-radius: 50%;
	box-shadow: 0px 0px 32px 32px rgb(0, 0, 0);
	animation: img 35s infinite linear;
}
.warning {
	color: rgb(111, 0, 0);
	font-weight: bold;
}
.data {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(240, 248, 255, 0.5);
	border-radius: 32px;
	margin: 2rem;
	width: 38rem;
	transition: background-color 1s ease-in-out;
	&:hover {
		background-color: rgba(240, 248, 255, 0.9);
	}
}
.input {
	font-family: Helvetica;
	color: aliceblue;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	margin: 1em;
	width: 17em;
	height: 3em;
	border-radius: 1.5em;
	background-color: #067d8d;
	padding: 1em;
}
.input::placeholder {
	font-family: Helvetica;
	color: rgb(219, 227, 234);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.input:hover {
	filter: brightness(150%);
	box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.899);
}

.button {
	font-family: Helvetica;
	color: aliceblue;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	width: 8em;
	margin: 1.2em 0.2em;
	height: 2.8em;
	border-radius: 1.5em;
	background-color: #0c6a77;
	padding: 0.8em;
}
.button:hover {
	cursor: pointer;
	filter: brightness(150%);
}
.disabledButton {
	font-family: Helvetica;
	color: rgb(51, 51, 51);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	width: 8em;
	margin: 1.2em 0.2em;
	height: 2.8em;
	border-radius: 1.5em;
	background-color: #80999c;
	padding: 0.8em;
}

.portal {
	position: absolute;
	top: 3rem;
	left: 2rem;
	z-index: 0;
	animation: portal 35s infinite linear;
	background-color: #66ba4f;
	box-shadow: 0px 0px 40px 10px #448c3f;
	width: 22rem;
	height: 22rem;
	border-radius: 50%;
	background: radial-gradient(circle at 77% 80%, #fdfeb4 2.5%, transparent 2.5%),
		radial-gradient(circle at 75% 83%, #fdfeb4 2%, transparent 2%),
		radial-gradient(circle at 79% 83%, #fdfeb4 1%, transparent 1%),
		radial-gradient(circle at 45% 13%, #ffffd5 1.5%, transparent 1.5%),
		radial-gradient(circle at 42% 13%, #ffffd5 2%, transparent 2%),
		radial-gradient(circle at 38% 14%, #ffffd5 1.5%, transparent 1.5%),
		radial-gradient(circle at 20% 24%, #fdfeb4 1%, transparent 1%),
		radial-gradient(circle at 21% 23%, #fdfeb4 1%, transparent 1%),
		radial-gradient(circle at 51% 13%, #fdfeb4 1%, transparent 1%),
		radial-gradient(circle at 81% 33%, #fdfeb4 1%, transparent 1%),
		radial-gradient(circle at 85% 36%, #fdfeb4 2%, transparent 2%),
		radial-gradient(circle at 21% 46%, #fdfeb4 1%, transparent 1%),
		radial-gradient(circle at 20% 51%, #fdfeb4 2%, transparent 2%),
		radial-gradient(circle at 53% 51%, transparent 64%, #43a93e 64%),
		radial-gradient(circle at 47% 59%, transparent 64%, #43843e 64%),
		radial-gradient(circle at 47% 60%, transparent 59%, #1a9042 59%),
		radial-gradient(circle at 50% 59%, transparent 55%, #1b863c 55%),
		radial-gradient(circle at 45% 60%, transparent 55%, #399c49 55%),
		radial-gradient(circle at 47% 60%, transparent 46%, #1a9042 46%),
		radial-gradient(circle at 46% 55%, transparent 43%, #75b03b 43%),
		radial-gradient(circle at 36% 55%, transparent 43%, #a9cb48 43%),
		radial-gradient(circle at 50% 60%, transparent 40%, #66ba4f 40%),
		radial-gradient(circle at 50% 53%, transparent 40%, #e5e051 37%),
		radial-gradient(circle at 30% 48%, transparent 40%, #eaf157 37%),
		radial-gradient(circle at 57% 69%, transparent 40%, #eaf157 40%),
		radial-gradient(circle at 40% 88%, transparent 40%, #e9e072 37%),
		radial-gradient(circle at 67% 54%, transparent 40%, #faeb7b 37%),
		radial-gradient(circle at 49% 35%, transparent 40%, #fff8c5 37%),
		radial-gradient(circle at 79% 59%, transparent 40%, #fffe9c 37%),
		radial-gradient(circle at 50% 50%, #fdfeb4 100%, #fdfeb4 100%);
}
@media (max-width: 1155px) {
	.container {
		top: 6rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		border-radius: 32px;
	}
	.data {
		position: relative;
		top: -2rem;
		width: 90%;
	}
	.portal {
		display: none;
	}
	.overlayImg {
		position: relative;
		top: -1rem;
		left: 0rem;
		width: 7rem;
		height: 7rem;
	}
	.input {
		height: 1.5em;
		width: 80%;
		margin: 0;
	}
}
