.Title {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	z-index: 99;
}
.Image {
	position: relative;
	top: 3rem;
	height: 10rem;
}
.Image:hover {
	filter: brightness(250%);
	transition: filter 3s ease-in-out;
}
