.Title {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	z-index: 99;
}
.Image {
	height: 10rem;
}
.Image:hover {
	filter: brightness(250%);
	transition: filter 3s ease-in-out;
	cursor: pointer;
}

.a {
	position: relative;
	top: 3em;
	left: -3em;
}
.a tool-tip {
	text-decoration: none;
	position: absolute;
	top: 128px;
	left: 40%;
	color: white;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 9rem;
	height: 1.5rem;
	z-index: 999;
	pointer-events: none;
	user-select: none;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 0.7rem;
	opacity: 0;
	transition: opacity 0.3s ease;
}
:has(> tool-tip):hover tool-tip {
	opacity: 1;
}

@media (max-width: 550px) {
	.Image {
		height: 8rem;
	}
}
